* {
    font-family: Roboto;
    
}

.name {
    margin-bottom: 50px;
    display: flex;
    gap: 20px;
}

.esperienza {
    display: flex;
    gap: 20px;
    align-items: center;
}

.competenza {
    display: flex;
    gap: 20px;
    align-items: center;
}

.istruzione {
    display: flex;
    gap: 20px;
    align-items: center;
}
